<MudDialog>
    <DialogContent>
        <div class="d-flex align-items-center">
            <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Info" Size="Size.Large" Class="mr-2"/>
            <MudText>Uw offerte werd succesvol aangemaakt!</MudText>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="@Color" Variant="Variant.Filled" OnClick="Submit">Verder Gaan</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string ContentText { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public Color Color { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
        NavigationManager.NavigateTo(Routes.Home);
    }

    void Cancel()
    {
        MudDialog.Cancel();
    }

}