@using System.Security.Claims;
@using Project.Client.Shared;
@inject FakeAuthenticationProvider FakeAuthenticationProvider
<div style="display: flex; align-items: center; padding-left: 20px">
    <MudButton Variant="Variant.Filled" @onclick="LoginAsAnonymous" Color="Color.Primary">Anonymous</MudButton>
    <MudButton Variant="Variant.Filled" @onclick="LoginAsAdmin" Color="Color.Primary">@FakeAuthenticationProvider.Administrator.FindFirst(ClaimTypes.Name)?.Value</MudButton>
    <p style="margin-left: 10px; color: black; background-color: white">Logged-in as: @FakeAuthenticationProvider.Current.FindFirst(ClaimTypes.Name)?.Value</p>
</div>

@code {
    void LoginAsAdmin()
    {
        FakeAuthenticationProvider.ChangeAuthenticationState(FakeAuthenticationProvider.Administrator);
    }
    void LoginAsAnonymous()
    {
        FakeAuthenticationProvider.ChangeAuthenticationState(FakeAuthenticationProvider.Anonymous);
    }
}
