@inherits LayoutComponentBase
@using devops_23_24_net_a02.Client.Pages.NavBar

<MudThemeProvider/> 
<MudDialogProvider/>
<MudSnackbarProvider/>
<NavBar>

</NavBar>
<div class="page">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <main>
        @Body
    </main>
</div>
