@using shared.Equipment;
@using FluentValidation;
<div style="width:600px;">
<EditForm>
        <MudTextField @bind-Value="Create.Title" For="@(() => Create.Title)"
                      Immediate="true"
                      Label="Titel" />
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@AddAttribute">Voeg attribuut toe</MudButton>
</EditForm>
</div>


@code {
    private int AmountOfAttributes { get; set; } = 1;

    private EquipmentDto.Create Create { get; set; } = new EquipmentDto.Create();

    private void AddAttribute()
    {
        AmountOfAttributes += 1;    
    }

    
}
