.imgHome {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .imgHome{
        width: 100%;
        height: 250px;
    }

}


p {
    text-align: center;
    font-size: 30px;
    margin: 25px;
}

