@page "/"
@inject IDialogService DialogService

<PageTitle>Home</PageTitle>
<div>
    <div class="img-container">
        <img class="imgHome" src="images/HomeBackground.png" alt="Home"/>
        <div class="scroll-down-link">
            <button class="scroll-down" onclick="document.getElementById('cards').scrollIntoView({behavior:'smooth'})"></button>
        </div>

    </div>
</div>

<devops_23_24_net_a02.Client.Pages.Components.SideSheet.SideSheet/>

<MudStack Justify="Justify.SpaceAround" AlignItems="AlignItems.Center" Row="true" Spacing="2" Class="mt-16 mb-16 mb-6">
    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
        <div class="line"/>
    </MudHidden>
    <MudText Align="Align.Center" Typo="Typo.h5" Class="pl-6 pr-6" style="color: #4F4F50">
        U organiseert binnenkort een feest en bent nog op zoek <br/>naar feestmateriaal en catering?
    </MudText>
    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
        <div class="line"/>
    </MudHidden>
</MudStack>
<MudStack Justify="Justify.SpaceAround" AlignItems="AlignItems.Center">
    <MudText Align="Align.Center" Typo="Typo.h5" style="color: #4F4F50">Van catering tot feestuitrusting, Blanche is uw one-stop oplossing voor feestplezier.</MudText>
</MudStack>
<PopUp/>

<div Class="mt-16 mb-16">
    <Formulas/>
</div>