.imgHome {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .imgHome{
        width: 100%;
        height: 250px;
    }

}

.line {
    height: 3px;
    flex: 1;
    background-color: lightgray;
    margin: 0 3rem; 
}


html {
    scroll-behavior: smooth;
}

.scroll-down {
    bottom: 20px;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    border: 2px solid #dcdcdc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: white;
}

    .scroll-down::before,
    .scroll-down::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 2px solid black;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 2.5s ease-in-out infinite;
    }

.scroll-down {
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    border: 2px solid #333333;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
        top: 55%;
    }
    15% {
        opacity: 1;
        top: 55%;
    }
    60% {
        opacity: 1;
        top: 55%;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
        top: 75%;
    }
    100% {
        opacity: 0;
    }

}

.img-container {
    position: relative;
}

.scroll-down-link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    cursor: pointer;
}
