@page "/"

<PageTitle>Home</PageTitle>
<div>
    <img class="imgHome" src="images/HomeBackground.png" alt="Home"/>
</div>


<p>
    U organiseert binnenkort een feest en bent nog op zoek <br/>naar feestmateriaal en catering?
</p>

<div style="margin-bottom: 50px">
    <Formulas/>
    <PopUp/>
</div>