@page "/404"
@using MudBlazor

<MudContainer>
    <div>
        <MudText Typo="Typo.h3" GutterBottom="true">404</MudText>
        <MudText Typo="Typo.h5">Oops! The page you are looking for does not exist.</MudText>
        <MudButton Link="/" Color="Color.Primary" Variant="Variant.Filled">Go to Home</MudButton>
    </div>
</MudContainer>
