<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudAppBar Fixed="true" Elevation="25">
        <p id="navBarText">Blanche</p>
        <MudSpacer />
        <div class="nav-items">
            <NavLink href=@Routes.Home>
                <p class="appBarNavItem">Home</p>
            </NavLink>
            <NavLink href=@Routes.Formula>
                <p class="appBarNavItem">Verhuur</p>
            </NavLink>
            <NavLink href=@Routes.About>
                <p class="appBarNavItem">Over ons</p>
            </NavLink>

            <AuthorizeView>
            <MudToggleIconButton @bind-Toggled="@_isOpen" Icon="@Icons.Material.Filled.ModeEdit" Color="Color.Dark" ToggledIcon="@Icons.Material.Filled.ModeEdit" ToggledColor="Color.Dark" />

            <MudPopover Open="@_isOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">

                <div class="d-flex flex-column">
                    <NavLink href=@Routes.Quotations @onclick="ToggleOpen">
                        <p class="appBarNavItemDropDown">Offertes</p>
                    </NavLink>
                    <NavLink href=@Routes.ExtraMaterialAdmin @onclick="ToggleOpen">
                        <p class="appBarNavItemDropDown">Extra Items</p>
                    </NavLink>
                        <NavLink href=@Routes.EmailOverview @onclick="ToggleOpen">
                            <p class="appBarNavItemDropDown">Email adressen</p>
                        </NavLink>
                </div>
            </MudPopover>
           </AuthorizeView>
        </div>
    </MudAppBar>
</MudContainer>

@code {
    public bool _isOpen;

    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }
}