<MudAppBar Fixed="true" Elevation="25">
        <p id="navBarText">Blanche</p>
    <MudSpacer />
    <NavLink href="/">
        <p class="appBarNavItem">Home</p>
    </NavLink>
    <NavLink href="/formulas">
        <p class="appBarNavItem">Verhuur</p>
    </NavLink>   
    <NavLink href="/OverOns">
        <p class="appBarNavItem">Over ons</p>
    </NavLink>   
</MudAppBar>
