<MudContainer MaxWidth="MaxWidth.ExtraLarge" >
    <MudAppBar Fixed="true" Elevation="25" Height="80px">
        <p id="navBarText">Blanche</p>
        <MudSpacer />
        <div class="nav-items">
            <NavLink href="/">
                <p class="appBarNavItem">Home</p>
            </NavLink>
            <NavLink href="/">
                <p class="appBarNavItem">Verhuur</p>
            </NavLink>
            <NavLink href="/OverOns">
                <p class="appBarNavItem">Over ons</p>
            </NavLink>
        </div>
    </MudAppBar>
</MudContainer>
