
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudAppBar Fixed="true" Elevation="25">
        <p id="navBarText">Blanche</p>
        <MudSpacer />
        <div class="nav-items">
            <NavLink href=@Routes.Home>
                <p class="appBarNavItem">Home</p>
            </NavLink>
            <NavLink href=@Routes.Formula>
                <p class="appBarNavItem">Verhuur</p>
            </NavLink>
            <NavLink href=@Routes.About>
                <p class="appBarNavItem">Over ons</p>
            </NavLink>
            <NavLink href=@Routes.Quotations>
                                <p class="appBarNavItem">Offertes</p>
                            </NavLink>
            
            
        </div>
    </MudAppBar>
</MudContainer>
