<div class="overlay" style="width: 100%">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <div class="nav-bar">
            <p id="navBarText">Blanche</p>
            <MudSpacer />
            <div class="nav-items">
                <NavLink href="/">
                    <p class="appBarNavItem">Home</p>
                </NavLink>
                <NavLink href="/formulas">
                    <p class="appBarNavItem">Verhuur</p>
                </NavLink>
                <NavLink href="/OverOns">
                    <p class="appBarNavItem">Over ons</p>
                </NavLink>
            </div>
        </div>
    </MudContainer>
</div>