<MudAppBar Fixed="true"  Style="@($"background:{"#FFFFFF"};")"  Elevation="25">
        <p id="navBarText">Blanche</p>
        <MudSpacer />
        <p class="appBarNavItem">Home</p>
        <p class="appBarNavItem">Verhuur</p>
        <p class="appBarNavItem">Over ons</p>
    </MudAppBar>
