#navBarText {
    font-family: 'Source Sans Pro', 'Magenta Rose', 'Parisienne', Arial, serif;
    font-size: 4em;
    color: white;
    text-align: center;
}

.appBarNavItem {
    font-family: 'Source Sans Pro Bold', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    color: white;
}

.appBarNavItemDropDown {
    font-family: 'Source Sans Pro Bold', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    color: black;
}

.overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    z-index: 9999;
}

.nav-bar {
    display: flex; 
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 20px;
}
