#navBarText {
    font-family: 'Source Sans Pro', 'Magenta Rose', 'Parisienne', Arial, serif;
    font-size: 4em;
    text-align: center;
    color: black;
}

.appBarNavItem {
    font-family: 'Source Sans Pro Bold', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    color: black;
}

.appBarNavItemDropDown {
    font-family: 'Source Sans Pro Bold', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    color: black;
}

.nav-items {
    display: flex;
    gap: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

@media (max-width: 649px) {
    .navivgation {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (min-width: 650px) {
    .navivgation {
        display: flex;
    }

    .menu-button {
        display: none;
    }
}
