<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
            <div class="error-container">
            <RadzenText TextStyle="TextStyle.H3" Text="404 - Not Found" />
            <RadzenText TextStyle="TextStyle.Subtitle1" Text="Sorry, there's nothing at this address."/>
            <NavLink href="">
                <RadzenButton Text="Go Home"/>
              </NavLink>
            </div>
    </NotFound>
</Router>