<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <MudAlert Severity="Severity.Success">The reactor is running at optimum temperature</MudAlert>
        <div class="error-container">
            <NavLink href="">
            </NavLink>
        </div>
    </NotFound>
</Router>