@page "/formulas"
@using devops_23_24_net_a02.Client.Pages.Formulas;
@attribute [Authorize]

<PageTitle>Formulas</PageTitle>

<div Class="mt-5 mb-16">
    <MudPaper Width="100%" Class="pt-16" Height="100%" Elevation="0">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudGrid Spacing="@spacing">
                <MudItem xs="4">
                    <FormulaCard 
                        BackgroundColor="#EBEBEB"
                        Titel="Basic"
                        Click=@(()=>{})
                        MarginTop="mt-16"
                    ></FormulaCard>
                </MudItem>
                <MudItem xs="4">
                    <FormulaCard
                        Titel="All-in"
                        BackgroundColor="#EDE7DB"
                        Attributes=@(new List<string>{"incl. Basic formule","vat(en) bier","glazen","barbeque"})
                        Click=@(()=>{})
                    >
                    </FormulaCard>
                </MudItem>
                <MudItem xs="4">
                    <FormulaCard 
                        BackgroundColor="#EBEBEB"
                        Titel="Gevorderd"
                        Click=@(()=>{})
                        MarginTop="mt-16"
                        Attributes=@(new List<string>{"incl. Basic formule","vat(en) bier","glazen"})
                    ></FormulaCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudPaper>

</div>


@code {
    public int spacing { get; set; } = 6;

    private void OnBasicClick()
    {
    }

    private void OnAllInClick()
    {
    }

    private void OnGevorderdClick()
    {
    }

}